In [5]:
import pandas as pd
import xml.etree.ElementTree as ET
import glob

### Function definition to convert XML file into a DataFrame

In [6]:
def convertXmlToDf(year_dir, state_dir, xml_file_path, file_counter):
    xml_df = pd.DataFrame()
    counter = 1
    with open(xml_file_path, 'r') as xml_file:
        file_content = xml_file.read()
        etree = ET.fromstring(file_content) #create an ElementTree object
        doc_elements = list(etree[1])
        for doc in doc_elements:
            data_point_elements = list(doc)
            data_point_dict = {}
            for data_point in data_point_elements:
                dp_tagname = data_point.tag[37:]
                dp_tagval = data_point.text
                data_point_dict[dp_tagname] = dp_tagval
            temp_df = pd.DataFrame(data_point_dict, index = ['{}_{}_{}_{}'.format(year_dir, state_dir, file_counter, counter),])
            counter = counter + 1
            if xml_df.empty:
                xml_df = temp_df
            else:
                frames = [xml_df, temp_df]
                xml_df = pd.concat(frames)
    return xml_df

### Function call for all the years, states and files to convert to dataframe and save to pickle

In [7]:
if os.path.exists('../Extra/us_spending_df.pickle'):
    print('Pickle file already exists')
else:
    global_df = pd.DataFrame()
    for year_dir in glob.glob('../Data/*'):
        for state_dir in glob.glob(year_dir + '/*'):
            counter = 0
            for individual_file in glob.glob(state_dir + '/*'):
                file_df = convertXmlToDf(year_dir[-4:], state_dir[-2:], individual_file, counter)
                counter = counter + 1
                if global_df.empty:
                    global_df = file_df
                else:
                    frames = [global_df, file_df]
                    global_df = pd.concat(frames)
            print(state_dir, 'completed')
        print(year_dir, 'completed')
    del global_df['record_count']
    global_df = global_df.drop_duplicates()
    global_df.to_pickle('../Extra/us_spending_df.pickle')
    global_df.head()

../../../../Data\2016\MA completed
../../../../Data\2016\PA completed
../../../../Data\2016 completed
../../../../Data\2017\MA completed
../../../../Data\2017\PA completed
../../../../Data\2017 completed

,AgencyID,AwardType,ContractDescription,ContractPricing,ContractingAgency,ContractingAgencyCode,DUNSNumber,DateSigned,DollarsObligated,ExtentCompeted,...,RecipientOrContractorName,RecipientState,RecipientZipCode,TransactionNumber,TransactionStatus,TypeofSpending,TypeofTransaction,UniqueTransactionID,VendorName,record_count
2016_MA_0_1,9700: DEPT OF DEFENSE,1,FMS AND US AEGIS PRODUCTION (FCS AND SPY TRANS...,Y,1700: DEPT OF THE NAVY,1700,193049236,2016-05-27T00:00:00.000,3.658488E+08,C,...,RAYTHEON COMPANY,MA,01752,0,F,C,F,0,RAYTHEON COMPANY,1
2016_MA_0_2,9700: DEPT OF DEFENSE,1,MODERNIZATION OF SIX PATRIOT FIRE UNITS FOR TH...,Y,2100: DEPT OF THE ARMY,2100,196882310,2016-06-23T00:00:00.000,256459280,C,...,RAYTHEON COMPANY,MA,01810,2,F,C,F,2,RAYTHEON COMPANY,2
2016_MA_0_3,9700: DEPT OF DEFENSE,1,DDG 1002 MSE,Y,1700: DEPT OF THE NAVY,1700,184724797,2015-12-31T00:00:00.000,2.552817E+08,C,...,RAYTHEON COMPANY,MA,01876,0,F,C,F,0,RAYTHEON COMPANY,3
2016_MA_0_4,9700: DEPT OF DEFENSE,1,QATAR ADOC CONTRACT #2 UCA DEFINITIZATION,Y,5700: DEPT OF THE AIR FORCE,5700,184724797,2015-10-16T00:00:00.000,142685024,B,...,RAYTHEON COMPANY,MA,01876,14,F,C,F,14,RAYTHEON COMPANY,4
2016_MA_0_5,9700: DEPT OF DEFENSE,1,ADDITIONAL F414 FY15 ENGINES,N,1700: DEPT OF THE NAVY,1700,001408509,2015-12-30T00:00:00.000,121208608,C,...,GENERAL ELECTRIC COMPANY,MA,01905,0,F,C,F,0,GENERAL ELECTRIC COMPANY,5