## EMPLOYEE COMPENSATION ANALYSIS

In [1]:
import numpy as np
import pandas as pd
import os
import datetime

In [2]:
# Read csv into a dataframe
df = pd.read_csv('Data/employee_compensation.csv')

### Filter data by calendar year and find average salary for every employee.

In [3]:
# Create a dataframe for calendar year
cal_df = df[df['Year Type'] == 'Calendar']
#Filter out the columns concerning employee salaries, compensation and benefits
cal_df = cal_df[['Employee Identifier', 'Salaries', 'Overtime', 'Other Salaries', 'Retirement', 'Health/Dental', 'Other Benefits']]
cal_df.head()

,Employee Identifier,Salaries,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits
0,52206,98528.52,0.00,3955.59,20142.55,12918.24,8371.76
2,33958,200.00,0.00,0.00,0.00,51.45,15.83
3,33073,1783.00,0.00,0.00,325.05,257.23,153.85
5,23930,80207.24,2232.53,1568.00,15064.98,13890.29,6888.51
7,38054,24180.00,0.00,0.00,1490.20,8586.13,1880.37

In [4]:
# Calculating average salary and average benefits for each employee
cal_df['Average Salary'] = cal_df.apply(lambda x:(x['Salaries'] + x['Overtime'] + x['Other Salaries'])/3, axis=1)
cal_df['Average Benefits'] = cal_df.apply(lambda x:(x['Retirement'] + x['Health/Dental'] + x['Other Benefits'])/3, axis=1)

In [5]:
# Listing the top 5 entries
print('Top 5 entries:\n')
print(cal_df.head()[['Employee Identifier','Average Salary', 'Average Benefits']])

Top 5 entries:

   Employee Identifier  Average Salary  Average Benefits
0                52206    34161.370000      13810.850000
2                33958       66.666667         22.426667
3                33073      594.333333        245.376667
5                23930    28002.590000      11947.926667
7                38054     8060.000000       3985.566667

 ### Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)

In [6]:
# Fetch the records of employees where the 'Overtime' value is graeter than 5% of the 'Salaries' value
overtime_df = cal_df[df['Overtime'] > 0.05 * df['Salaries']]
overtime_df = overtime_df[['Employee Identifier','Salaries', 'Overtime']]
print('Top 5 employees with Overtime salary greater than 5% of salary :\n')
print(overtime_df.sort_values('Overtime', ascending=False).head())

Top 5 employees with Overtime salary greater than 5% of salary :

        Employee Identifier   Salaries   Overtime
56641                 45457  106570.00  263229.56
306078                36690  106570.04  232627.49
320633                45457   97802.93  208668.82
88134                 17676  118135.01  191008.58
200500                29330   95405.00  190244.38

C:\Users\parit\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

### For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value. Display the top 5 Job Families according to this percentage value using df.head()

In [7]:
# Fetching the benfits and compensation corresponding to each Job Family
jobfam_df = df[['Job Family', 'Total Benefits', 'Total Compensation']]
jobfam_df.head()

            Job Family  Total Benefits  Total Compensation
0     Journeyman Trade        41432.55           143916.66
1       Dietary & Food        33810.24           107914.16
2           Management           67.28              267.28
3        Legal & Court          736.13             2519.13
4  Public Service Aide          624.18             1726.68

In [8]:
# Calculating the average benefits and compensation for each 'Job Family'
jobfam_df = jobfam_df.groupby('Job Family').agg({'Total Benefits':np.mean,'Total Compensation':np.mean})
jobfam_df.head()

                               Total Benefits  Total Compensation
Job Family
Administrative & Mgmt (Unrep)    58804.222241       248536.124310
Administrative Secretarial       28918.649873       101995.198101
Administrative-DPW/PUC           41349.404069       156364.681576
Administrative-Labor & Trades    39922.411887       160870.450896
Agriculture & Horticulture       25407.737041        81391.643272

In [9]:
# Calculating the percentage of average total benefits to total compensation for each 'Job Family' and printing the top 5 entries
jobfam_df['Percentage'] = jobfam_df['Total Benefits'] / jobfam_df['Total Compensation'] * 100
print('Top 5 entries for percentage of Benefits to Compensation for each Job Family :\n')
print(jobfam_df.sort_values('Percentage', ascending=False).head())

Top 5 entries for percentage of Benefits to Compensation for each Job Family :

                               Total Benefits  Total Compensation  Percentage
Job Family
Public Service Aide               5087.142130        14450.325272   35.204343
Housekeeping & Laundry           23787.827171        72612.204294   32.760095
Park & Zoo                       17359.449541        53001.043501   32.753034
Clerical, Secretarial & Steno    21394.905197        66009.821043   32.411700
Dietary & Food                   19300.787905        60295.256688   32.010458