## Employee Compensation Analysis

### Find out the highest paid departments in each organization group by calculating mean of total compensation for every department

In [16]:
import numpy as np
import pandas as pd
import os
import datetime

In [17]:
# Read compensation csv into a dataframe
df = pd.read_csv('Data/employee_compensation.csv')

In [18]:
# Select relevant columns
df = df[['Organization Group', 'Department', 'Total Compensation']]

In [19]:
# Group the records by departments in each organization and calculate the mean total compensation for each department
groupby_org_dept = df.groupby(by=['Organization Group', 'Department'])
groupby_org_dept = groupby_org_dept.mean()
final_org_dept = groupby_org_dept.reset_index()
final_org_dept.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
3  Culture & Recreation     Asian Art Museum        71401.520060
4  Culture & Recreation     Fine Arts Museum        44205.439895

In [20]:
# Group records by organization showing department with maximun total compensation
final_org_dept = final_org_dept.groupby(by='Organization Group').agg({'Total Compensation':max, 'Department':max})
final_org_dept.head()

,Department,Total Compensation
Organization Group,,
Community Health,Public Health,96190.190140
Culture & Recreation,War Memorial,188424.362222
General Administration & Finance,Treasurer/Tax Collector,166082.677561
General City Responsibilities,General Fund Unallocated,15824.151304
Human Welfare & Neighborhood Development,Rent Arbitration Board,102181.793941

In [21]:
os.makedirs('Output', exist_ok=True)

In [23]:
final_org_dept.to_csv('Output/Q2Part1.csv')

In [24]:
print('Completed the analysis for fetching organizations along with their corresponding departments with maximum total compensation . Output is saved as a csv file in the location Output/Q2Part1.csv')

Completed the analysis for fetching organizations along with their corresponding departments with maximum total compensation . Output is saved as a csv file in the location Output/Q2Part1.csv