## NYC Collision Analysis

In [1]:
import numpy as np
import pandas as pd
import datetime
import os

In [2]:
# Read csv file into a dataframe
df = pd.read_csv('Data/vehicle_collisions.csv', index_col = 0, parse_dates=[1])

In [3]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,
3146911,2015-01-01,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,NaN,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
3146180,2015-01-01,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
3146384,2015-01-01,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,NaN,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3146013,2015-01-01,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,NaN,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
3146120,2015-01-01,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,NaN,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [4]:
# Filter to get all 2016 records
df = df[ (df['DATE'] > datetime.date(year=2015,month=12,day=31)) & (df['DATE'] < datetime.date(year=2017,month=1,day=1))]

In [5]:
# Extract month from the date column
df['MONTH']= df['DATE'].apply(lambda x: x.month)

In [6]:
# Filter records for Manhattan
df_manhattan = df[df['BOROUGH'] == 'MANHATTAN']

In [7]:
# Group all the records for each month
df = df.groupby(by='MONTH').count()

In [8]:
# Renaming the Date column header to indicate the count of collisions in NYC in the new dataframe
df['NYC'] = df['DATE']
df = df['NYC']
df.head()

MONTH
1    18101
2    15985
3    18471
4    18331
5    20052
Name: NYC, dtype: int64

In [9]:
# Group the records in Manhattan dataframe for each month
df_manhattan = df_manhattan.groupby(by='MONTH').count()
# Renaming the Date column header to indicate the count of collisions in Manhattan in the new dataframe
df_manhattan['MANHATTAN'] = df_manhattan['DATE']
df_manhattan = df_manhattan['MANHATTAN']

In [10]:
# Concatenating the dataframes for Manhattan and NYC
final_percentage = pd.concat([df_manhattan,df], axis=1)

In [11]:
# Calculating the percentage of collisions in Manhattan to NYC and adding the column in the final dataframe
final_percentage['PERCENTAGE'] = final_percentage['MANHATTAN'] / final_percentage['NYC']

In [12]:
# Creating the output folder
os.makedirs('Output', exist_ok=True)

In [13]:
# Saving the final csv in the Output folder
final_percentage.to_csv('Output/Q1Part1.csv')

In [14]:
print('Completed the analysis for calculating percentage of collisions in Manhattan compared to those in NYC for each month. Output is saved as a csv file in the location Output/Q1Part1.csv')

Completed the analysis for calculating percentage of collisions in Manhattan compared to those in NYC for each month. Output is saved as a csv file in the location Output/Q1Part1.csv